terraform.tfvars
keys
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
.terraform
ips
packages
homes
account.json
.DS_STORE
notes.txt
.venv
token.pickle
credentials.json
mail/mail_template.txt
mail/mail_template_en.txt
mail/mail_info.yaml
passwords
